[2015-09-09 14:41] marcopiraccini opened #1 "Create a list of the the exercises"
We can start from http://senecajs.org/getting-started.html for a basic skeleton

[2015-09-09 16:23] mcdonnelldean commented on #1
@marcopiraccini Lets talk on this, I've been talking to richard about this page and possibly adding more meat here which would dovetail well with this. I think Glen Keane is doing some things here too.

[2015-09-11 08:39] mcdonnelldean commented on #1
@marcopiraccini @piccoloaiutante Is there a sample workshopper that I could look at so I know what a complete one should look like?

[2015-09-11 08:42] piccoloaiutante commented on #1
I suggest you to have a look at learnyounode (https://github.com/workshopper/learnyounode)

[2015-09-11 08:44] marcopiraccini commented on #1
Yes, in any case, see the ones that uses the `workshopper` module. The `problems` structure is already done, so simply start doing the problem implementation

[2015-09-11 08:45] marcopiraccini commented on #1
And -of course- also, @thekemkid can help :)

[2015-09-11 08:45] piccoloaiutante commented on #1
We should first agree on the list of the thing that we want to teach in this workshop

[2015-09-11 08:54] mcdonnelldean commented on #1
Cheers all. I just wanted to go through one before I started to help to make sure I understand the structure. I presume they are all pretty standard. Yes let's get a list start. I think some of the main points to cover are
- Pattern matching
- Transports
- Storage
- Seneca server to server comms
- Browser / Rest communication via REST.

We need to break them down further but these are the main thi

[2015-09-11 08:55] piccoloaiutante commented on #1
For the first workshop i would go for pattern matching, storage and rest communication. consider that it will be an introduction....

[2015-09-11 09:31] mcdonnelldean commented on #1
I agree, you will need to add a storage in there to be complete. JSON File store is a lovely way to have storage without having to explain database stuff? Thoughts?

[2015-09-11 09:40] marcopiraccini commented on #1
I agree on the list, but it's top-level and must be further detailed (the problems must be progressive).
This is the draft of the problem list shared in the doc (mainly follow the Seneca getting started):
- 1.sum: create server for 2 num sums
- 2.client:create client to consume it
- 3.roles: pattern matching with role and command
- 4.extend: extend pattern with another pattern
- 5.extend-client: e

[2015-09-11 10:02] GlenTiki commented on #1
A client-server hello world should be the first exercise.
Then basic maths.
Then pattern matching extending that maths stuff.

Then pretty much @marcopiraccini's plan, I think

[2015-09-11 10:08] marcopiraccini commented on #1
Yes, @thekemkid, but remember that in nodeSchool exercises you usually write one "part", so you write the serve or the client, that's because the verifier will verify the server with a client, and the opposite.
If we write a problem that to be solved needs the server AND the client, it's difficult to verify it automatically (I think).

[2015-09-11 10:42] mcdonnelldean commented on #1
Looking good @marcopiraccini.

[2015-09-11 14:03] GlenTiki commented on #1
Should we create seperate issues for each exercise and assign them out/self assign them?

[2015-09-11 14:08] mcdonnelldean commented on #1
@thekemkid I think that would be a good idea. Talk to @marcopiraccini today and get the process kicked off :+1:

[2015-09-14 10:49] marcopiraccini commented on #1
Talking with @mcollina during the return trip, we agreed that it's probably better to introduce the concept of seneca "plugin" ASAP in the exercises. So that:
- In the first exercise we make write one service, but with no seneca initialization (the verifier will require the "sum" service to test it.
- In the second exercise we introduce the plugin structure.

So my proposal is:

[code]

[2015-09-14 11:02] mcdonnelldean commented on #1
I would agree with the above, it looks like a solid list.

[2015-09-14 11:02] mcdonnelldean commented on #1
If you break em out into issues we could tackle them one at a time.

[2015-09-14 11:17] piccoloaiutante commented on #1
I'm not so convinced by the 12th step: what would you like to see in "Write a seneca plug-in" ?

[2015-09-14 11:20] marcopiraccini commented on #1
It was a copy&paste mistake, fixed. Following this hypotesis, plugins are introduced in the second exercise.

[2015-09-14 11:21] marcopiraccini commented on #1
@mcdonnelldean Yes, I would like first to create the "sum" exercise to be used as a blueprint for the others.

[2015-09-14 12:24] mcollina commented on #1
:+1: for the discussed list!

[2015-09-14 12:35] piccoloaiutante commented on #1
@marcopiraccini in that case :+1:  :smile:

[2015-09-15 08:45] marcopiraccini opened #3 "sum - extend the executor to support seneca execution"
Now the verify mechanism for the "sum" exercise is quite raw: both the solution and the submitted .js are passed as parameter to a `seneca-xxx-executor`, and then the stdouts are compared.
This mechanism works, however it is better (and much more elegant) to extend the workshopper executor to support this cases.
This mechanism will also use for the exercises that use the seneca plugin.

[2015-09-15 12:31] mcdonnelldean commented on #3
How do I run it locally marco? As in from the repo :D

[2015-09-15 12:33] marcopiraccini commented on #3
`node runners.js`
`node runners.js verify my_solution.js`
`node runners.js run my_solution.js`

[2015-09-15 12:33] mcdonnelldean commented on #3
Awesome, I'll take a peek for you tonight.

[2015-09-15 14:22] piccoloaiutante commented on #3
Me too @mcdonnelldean. should i go for the second step or lets work on this one and then move?

[2015-09-15 15:01] mcdonnelldean commented on #3
@piccoloaiutante Check with @marcopiraccini I only have my feet half in right now while I try hand off Seneca stuff to Wyatt :dancer:

[2015-09-15 15:15] marcopiraccini commented on #3
@mcdonnelldean @piccoloaiutante try the first one and look/review the code and the exercise. Then, decide by yourself if do some work on the "sum" exercise or go on with others. Also think about the object of this issue. In any case, write on gitter what are you working on to avoid overlap.

[2015-10-19 15:56] code-jace opened #8 "Problem description unclear"
I had a recurring error with exercise 3,
solution had 'use strict'
and module.exports used at top in code, as opposed to at the end (as done previously), with no explanation or hinting.
What was a simple change in code was causing fatal seneca error.

[2015-10-19 17:22] marcopiraccini commented on #8
`use strict` enables the strict mode. Technically you can skip it, but I think that should be added to the "correct" answer. Not sure about "module export". In general there are a couple of ways of exporting stuff in modules, I think that `module.exports = function (...` is the mot elegant one. In which exercise do you find a different code? I've checked the proposed solutions and seems to be cohe

[2015-10-20 08:20] code-jace commented on #8
I was confused, as while it says to export the module in the first exercise, the example has it at the end of the code, but by exercise 3 it has the more elegant solution. Unless this is something natural to more experienced programmers, I did not pick up on it.

[2015-10-20 08:33] marcopiraccini commented on #8
The first exercise says to export seneca, which is an Object. And this is basically a trick that we use to test the service without creating a plugin (introduced in the second exercise).
The other "exports" are for plugins and are exports of functions. which can be done in this way:

[code]

or in this way (similar to the first solution when exporting seneca).

[code]

I prefer the first way, but

[2015-10-20 08:38] marcopiraccini opened #9 "Avoid in the "sum" solution to export seneca"
Currently the "sum" solution needs seneca to be exported:

[code]

This is needed because the `seneca-sum-executor` requires it and in that way it has the same seneca on which call "act" to verify the solution.
We should find another way of testing the solution to avoid that, since it can be confusing (even if in the exercise text is specified the purpose of the export).

[2015-10-20 08:39] marcopiraccini commented on #3
No more actual

[2015-10-20 08:39] #3 closed, assigned to nobody

[2015-10-20 09:19] #8 closed, assigned to nobody

[2015-10-20 11:22] code-jace opened #11 "Passing"
checked 5-8 will pass regardless of file verified (used a blank.js) and only give a PASS reply - no feedback or official solution.

[2015-10-20 14:02] piccoloaiutante commented on #11
Hi @code-jace,

i'm going to check it, thx

[2015-10-21 09:11] piccoloaiutante commented on #11
it should be fixed. is it still happening to you? @code-jace

[2015-10-21 09:19] code-jace commented on #11
is the update available?

[2015-10-21 09:21] piccoloaiutante commented on #11
i pushed code yesterday, btw i just found a similar problem for the sum exercise and i'm fixing it :-(

[2015-10-22 21:28] SteveALee opened #13 "Doesn't run in Git for Windows Bash shell"
Seems to be a problem with the stdin

<pre>
C:\Users\Steve\AppData\Roaming\nvm\v4.1.0\node_modules\seneca-in-practice\node_modules\workshopper\node_modules\terminal-menu\index.js:61
    process.stdin.setRawMode(true);
                  ^

TypeError: process.stdin.setRawMode is not a function
    at new Menu (C:\Users\Steve\AppData\Roaming\nvm\v4.1.0\node_modules\seneca-in-practice\node_modules\wor

[2015-10-23 00:46] GlenTiki commented on #13
What version of node are you trying to run this on? This issue seems to be related to https://github.com/substack/terminal-menu/issues/25

[2015-10-23 05:59] marcopiraccini opened #14 "Add "more" behaviour of problem description"
Now the problem description is shown fully at one time and the user must srcoll up to see the beginning.
We should have a "more "behaviour

[2015-10-23 06:08] #1 closed, assigned to nobody

[2015-10-23 06:10] marcopiraccini commented on #11
@code-jace: can yoo check if fixed?

[2015-10-23 08:12] code-jace commented on #11
np

[2015-10-23 08:32] SteveALee commented on #13
I tried both 0.10.40 (x32) and then 4.1.0 (x64) as I suspected a node version issue given the error

I'm using nvm-windows to switch but that is most unlikely to cause this issue.

[2015-10-23 08:55] SteveALee commented on #13
Well it seems it should work. The following in a node 4.1.0 REPL in GfW Bash:

<pre>

true

[Function]
</pre>

So perhaps the workshopper or terminal-menu modules are doing something weird?

[2015-10-26 05:02] marcopiraccini commented on #13
Well, the error is from `terminal-menu`. It seems something related  with this: https://github.com/nodejs/node/issues/2333
Can you try other workshopper (e.g. learnyounode) with the same node /os set to confirm that?

[2015-10-26 06:29] marcopiraccini commented on #14
No sure https://github.com/workshopper/workshopper-more can be used. I'll give a try later

[2015-10-26 14:18] piccoloaiutante commented on #13
Have you tried to run it in powershell?

[2015-10-26 15:00] SteveALee commented on #13
Yes it's fine, and also in cmd shell.
I can use it, just not in the Bash shell I sit in all day. Fee free to close this as "won't fix". :)

[2015-10-27 06:25] marcopiraccini commented on #13
Just for curiosity...which shell are you using? This one? http://win-bash.sourceforge.net/

[2015-10-27 07:39] SteveALee commented on #13
No. It's the one that comes with [Git for Windows](https://git-for-windows.github.io/). I'm not sure what exactly it is but it certainly appears that it's parentage is [MinGW/MSYS](http://mingw.org/). GitHub for windows also uses a version but I found that has been left behind Git for Windows.

[2015-10-27 07:42] SteveALee commented on #13
Ah yes, they appear to be pulling upstream from CVS.

[2015-10-27 10:47] #11 closed, assigned to nobody

[2015-11-23 21:45] #13 closed, assigned to nobody

[2015-12-03 09:20] marcopiraccini opened #18 "Review prior exercise"
Not sure that is needed (prior is used also in the previous "override" exercise). Check if it's really needed or should be merged with "override"

[2016-01-12 12:09] marcopiraccini opened #21 "Upgrade to Seneca 1.0"

[2016-01-12 13:33] piccoloaiutante commented on #21
do you need help? :-) i'm going to test it tomorrow morning..

[2016-01-12 14:08] marcopiraccini commented on #21
Sure I need help :)

[2016-01-13 08:58] piccoloaiutante commented on #21
I tested it this morning with seneca 1.0.0. I was able to accomplish all the tasks. How about you @marcopiraccini ?

[2016-01-13 12:52] CodeWriterWriter opened #22 "Solutions and Sample code not being tested"
Seneca-in-practice is throwing this error on commands
- `seneca-in-practice verify <filename>`
- `seneca-in-practice run <filename>`

[code]

As a result it's comparing the lack of output from not being able to run the sample code, with the lack of output from not being able to run the user code, seeing they're equivalent, and passing the user on every challenge regardless of what user code is giv

[2016-01-14 06:53] marcopiraccini commented on #22
It's clearly looking for the executor in the wrong place. Anyone using OS X can check it?

[2016-01-14 07:00] marcopiraccini opened #23 "Fuge step"
It should be great to have one (final?) step explaining how to use Fuge (https://github.com/apparatus/fuge) for generating execution environment.

[2016-01-14 09:25] piccoloaiutante commented on #23
I would avoid to do it here since the focus here is on seneca itself. Adding that step to seems a little bit out of scope.

[2016-01-14 09:25] piccoloaiutante commented on #22
i will do today or tomorrow

[2016-01-14 09:26] #18 closed, assigned to nobody

[2016-01-14 09:27] piccoloaiutante commented on #14
Have you tried it @marcopiraccini ?

[2016-01-14 09:27] piccoloaiutante commented on #9
Is it still relevant @marcopiraccini ?

[2016-02-01 07:55] marcopiraccini commented on #9
Yes! :)

[2016-02-18 15:36] evannieuwburg commented on #22
I'm on OSX and get the same issue:

EriNie@hes500320  ~/Developer/seneca-school  seneca-in-practice run program.js
module.js:339
    throw err;
    ^

Error: Cannot find module '/Users/EriNie/Developer/seneca-school/problems/sum/seneca-sum-executor.js'
    at Function.Module._resolveFilename (module.js:337:15)
    at Function.Module._load (module.js:287:25)
    at Function.Module.runMain (module

[2016-02-22 09:33] piccoloaiutante commented on #22
That should be fixed in this PR

https://github.com/senecajs/seneca-in-practice/pull/24

@marcopiraccini how about it?

[2016-02-22 20:54] marcopiraccini commented on #22
I can confirm that is fixed

[2016-02-22 20:54] #22 closed, assigned to nobody

[2016-02-22 20:55] marcopiraccini commented on #21
Tested also with seneca 1.2! :)

[2016-02-23 08:05] #21 closed, assigned to nobody

[2016-02-23 08:34] evannieuwburg commented on #22
Also confirmed. It's been fixed.

[2016-02-23 08:35] piccoloaiutante commented on #22
thanks @evannieuwburg :+1:

[2016-02-29 10:26] piccoloaiutante commented on #23
so what's your thought about it @marcopiraccini ?

[2016-02-29 10:33] marcopiraccini commented on #23
Well, I'd still like to have a "final" step with it, to show how "real" microservices can be created, but we have to figure out how that can be verified.
Maybe we simply describe how to create it and simply verify from the client point-of-view (assuming that if it works, the service has been created with fuge).

[2016-03-03 09:32] batjko opened #25 "Step 'Client': Plugin Not Found error"
Hi there,

I have just tried to do the second step, 'Client', but I keep getting this error, which seems to say it can't find the 'math' plugin.
But the error stack also says that the action pattern could not be found (`No matching action pattern found`).

This is on Win7, with Node 5.7 installed and Seneca 1.3.0.

I'll post the two code files first and the extremely verbose error stack at the bot

[2016-03-03 12:12] batjko commented on #25
So I noticed that it works just fine when executed with Node:
![image](https://cloud.githubusercontent.com/assets/7287076/13493889/bc1565b8-e138-11e5-8db3-2b81a217ba6b.png)

But only after I replaced the previous `math.js` with this (which I found in another open issue here):

[code]

And yet the verify still can't find the plugin:
![image](https://cloud.githubusercontent.com/assets/7287076/134939

[2016-03-06 20:34] piccoloaiutante commented on #25
Thanks @batjko i'l have a look at it this week.

[2016-03-11 18:49] iiiw commented on #25
Same here. Plus, I am not sure about: "The client must add the number passed as parameters (use process.argv)". To call the service we need two numbers; probably it should be "numbers" (plural).

[2016-03-14 08:32] piccoloaiutante commented on #25
@iiw @batjko @marcopiraccini do you want to have quick check before i merge it ?

https://github.com/senecajs/seneca-in-practice/pull/26

[2016-03-14 09:01] piccoloaiutante commented on #25
it should be fixed in version 0.1.11

[2016-03-14 09:01] #25 closed, assigned to nobody

[2016-03-14 10:57] iiiw commented on #25
In the description – but not in your revised solution – there is still
the line `seneca.use('math')` which gives me a fatal error if I leave it
in the file. If I comment it out, I can call the service.

But I don't get any numbers passed via process.argv.
Instead I get two strings, so the result value is the concatenation
(Javascript doesn't complain) of two paths:
`{ answer:
'/path/to/dev/node/no

[2016-03-15 08:38] piccoloaiutante commented on #25
@iiiw you're right i forgot to add process.argv support for that exercise. Can you check this PR:

https://github.com/senecajs/seneca-in-practice/pull/27

this should solve your problem.

[2016-04-18 15:04] piccoloaiutante opened #29 "Make text width 80 chars"
Make sure that exercises descriptions are 80 chars width.

[2016-04-21 11:50] irelandm opened #30 "Change text from 'action' to 'cmd' in Ex1: Sum"
A minor tweak, but it tripped me up... the first line in Ex1: Sum says:

"Build a simple seneca service for the role math and **action** sum."

But the solution requires role:math, **cmd**:sum

I suggest changing or clarifying the instruction

[2016-04-21 11:58] irelandm opened #31 "Remove references to plugin from Ex2: Client"
The Client exercise makes reference to plugins, as if the plugin exercise had already been completed, but it hasn't at that point.

Suggest editing the first line of the exercise description and also removing the references to **seneca.use**, which will cause errors if put in the code

[2016-04-21 12:02] irelandm opened #32 "Change comment on transforming string parameters for Ex 2: Client"
In the exercise description for Ex 2: Client it states:
"Keep in mind that process.argv are passed as
string so you might want to transform them into numbers"

I couldn't see any point in turning the parameters into numbers in the client as they are then passed as JSON strings. Suggest changing the advice to convert the JSON parameters in the **math** code. But this would be better included as par

[2016-04-21 12:07] irelandm opened #33 "Fix execution script for Ex2: Client"
For the Client exercise, when executed as:

The response is:

This is because the query parameters are not numbers. There is a bug in the exercise.js script whereby process.argv[3], process.argv[4] are passed for the run operation instead of numbers (as per the verify operation)

[2016-04-21 13:59] irelandm commented on #33
Also it isn't clear to me why the params are passed in arguments 3 and 4, rather than 2 and 3

[2016-04-21 14:11] irelandm commented on #33
This also affects ex 6: Extend Client

[2016-04-21 14:19] irelandm opened #34 "Make it clear how many calls are needed and in what order in Ex 6: Extend Client"
The instructions for Ex 6: Extend Client state:

`extend the client of the sum plugin so that it call the two plugins that we previously developed`

It would be more helpful if it was clearer which messages were needed and in what order, otherwise it is trial and error to get the solution verified. Also, the reference to **two** plugins is confusing, as I had only developed **one**, supporting mul

[2016-04-21 15:27] irelandm opened #35 "Not clear why it is an override in Ex 7: Override"
The ex 7: Override instructions state:

[code]

However the example given seems to have the same message signature twice and relies on the overriding action being defined last. So this is a third rule. If this is the case then please add. Otherwise, please explain how the override works.

This is also the same for the example on http://senecajs.org/get-started/

[2016-04-21 15:28] irelandm opened #36 "Use plugin format for the example in Ex7: override"
The example doesn't work as-is and would be better in plug-in format

[2016-04-21 15:30] irelandm opened #37 "Fix error in example code for Ex 7 Override"
The following line:
`names[msg.name]=  names[msg.name]?  names[msg.name]+1:0`
should be replaced with:
`names[msg.name]=  names[msg.name]?  names[msg.name]+1:1`

[2016-04-21 20:55] #32 closed, assigned to nobody

[2016-04-21 20:56] irelandm commented on #32
Ignore this one - it can be done in client or in the service

[2016-04-22 10:58] irelandm opened #38 "Port causes problems in Ex: 9 Transport description"
Using port 6666 won't work in a browser on iOS as it is restricted. port 8888 would be better.

[2016-04-22 11:02] irelandm opened #39 "Can't get the solution to run in Ex 9: Transport"
My solution and **the provided sample** work fine when invoked from node and tested with curl or a browser, but neither will work when tested with seneca-in-practice.

I get the following error:

[code]

[2016-05-05 18:35] piccoloaiutante commented on #30
fixed with this commit

https://github.com/senecajs/seneca-in-practice/commit/b8916659975926a4bf74a5847f2d70912bac3073

[2016-05-05 18:35] piccoloaiutante commented on #30
how is it @irelandm ?

[2016-05-05 18:42] piccoloaiutante commented on #31
done

[2016-05-05 18:44] piccoloaiutante commented on #33
@irelandm   did you run this from github code or from npm?

[2016-05-05 18:46] piccoloaiutante commented on #33
arguments are 3 and 4 because if you run `seneca-in-practice run client.js` this are args[0],args[1],args[2]

[2016-05-05 18:58] piccoloaiutante commented on #34
How does it sound this to you @irelandm :

`The goal of the exercise is to extend the client that we developed,
so that it calls the two patterns that we created at previous step.`

[2016-05-05 20:19] irelandm commented on #33
I ran this from npm

[2016-05-05 20:28] irelandm commented on #30
This is better, as someone would be more likely to make the link between 'command' and 'cmd', especially with the example just above. It would be even better also to state the pattern to be added though, i.e. role:math, cmd:sum.

[2016-05-05 20:32] irelandm commented on #34
Sounds good. If the order of the calls is significant to getting the exercise validated, then I'd add that to the instructions too.

[2016-05-06 06:46] conolan commented on #31
There are other issues that cause confusion for newbies.
'role:greetings,cmd:hello' isn't a json object, and it's too early to be using shorthand stuff I think.
Also, there is no reference to seneca.act in the example.
The reference to 'action sum' will cause confusion. It's OK to use action (or any other term) but they will cause the exercise to fail.

[2016-05-06 07:03] conolan commented on #31
OK, I see we don't need seneca.act because it's in the executor.

[2016-05-06 07:40] conolan commented on #33
I find it very confusing that the plugin is introduced, when we don't learn about plugins until the next problem.

This statement throws a new user into chaos, because they haven't organised it into a plugin.

[2016-05-06 07:55] irelandm commented on #33
Conor - you're right about the plugin, but take a look at the next issue below - it has now been fixed

[2016-05-06 08:01] conolan commented on #33
I've replicated the NaN problem.
If I run
`node program 1 2 3`
I get answer: 5, so it works, but not in seneca-in-practice

[2016-05-08 01:34] adrianmcli commented on #39
Same issue here. I think the exercise is broken. I've been able to run the server and make HTTP requests to it successfully.

[2016-05-08 02:14] adrianmcli opened #41 "[Ex 11 - Mem Store] Outdated instructions - New way to use data entity functions"
Since Seneca has been updated, you won't be able to make use of any of the data entity stuff unless you install the separate package.
1. Install the package:

[code]
2. Activate it:

[code]
3. Now you can use it:

[code]

Reference: https://github.com/senecajs/seneca/issues/383

[2016-05-08 16:29] marcopiraccini commented on #33
That should fix this issue: https://github.com/senecajs/seneca-in-practice/pull/42
@piccoloaiutante can you please review?

[2016-05-08 16:30] marcopiraccini commented on #31
That should fix this also: https://github.com/senecajs/seneca-in-practice/pull/42

[2016-05-08 16:34] marcopiraccini commented on #30
@irelandm please check if this it's OK https://github.com/senecajs/seneca-in-practice/blob/pre-jsday/problems/sum/problem.md

[2016-05-08 17:55] irelandm commented on #30
Yes, that looks fine now.

_Mark Ireland_
Architect

[image: Nearform.com] http://www.nearform.com/

+353 87 451 6354 (mobile)
mark.ireland_6 (skype)
mark.ireland@nearform.com
www.nearform.com

Transforming the way Enterprise is building Software

Blog: Nodecrunch http://www.nearform.com/nodecrunch     Open source:
Seneca http://www.senecajs.org/ | Fuge https://github.com/apparatus/fuge
 | Hapi ht

[2016-05-09 10:28] conolan commented on #36
The example in problem.md if run, shows no difference in output whether the first action or second action (with prior) is run. Both give same output when I use this  .act

[code]

Suggest changing the example to this, which will output differently depending on which is run.

[code]

The solution assumes that the action that runs will have a math.floor for each argument. I suggest you add this line

[2016-05-09 20:31] marcopiraccini commented on #41
Specified in: https://github.com/senecajs/seneca-in-practice/pull/42

[2016-05-09 20:32] marcopiraccini commented on #39
That should fix it: https://github.com/senecajs/seneca-in-practice/pull/42

[2016-05-10 07:53] marcopiraccini commented on #41
Merged in Released 0.1.14, can you please check if it's OK?

[2016-05-10 07:53] marcopiraccini commented on #39
Merged in Released 0.1.14

[2016-05-10 07:53] marcopiraccini commented on #37
Merged in Released 0.1.14

[2016-05-10 08:02] adrianmcli commented on #41
@marcopiraccini np, thanks for the fix, I'll report back soon.

[2016-05-10 08:06] adrianmcli commented on #41
@marcopiraccini Excellent, it works! I especially enjoy the MUCH PROFIT screen haha.

[2016-05-10 08:06] #41 closed, assigned to nobody

[2016-05-10 08:10] adrianmcli commented on #41
@marcopiraccini I noticed a few grammar mistakes in the English. Perhaps I'll make a PR!

[2016-05-10 08:11] adrianmcli commented on #39
I confirm that this is fixed.

[2016-05-10 08:25] marcopiraccini commented on #41
Yes please :)

[2016-05-10 11:02] #39 closed, assigned to nobody

[2016-05-10 11:06] conolan opened #43 "Ex 2 - seneca.log.quietundefined"
I got this with my own version:

[code]

"{ answer: '--seneca.log.quietundefined' }" !=    "{ answer: 3 }"
   "{ answer: 3 }"                     !=    ""

Used solution, as published and got this

   "{ answer: NaN }"                   !=    "{ answer: 3 }"
   "{ answer: 3 }"                     !=    ""

[2016-05-10 11:08] marcopiraccini commented on #43
Have you passed the params? Something like: `seneca-in-practice run mysolution.js 2 3` ?

[2016-05-10 11:10] conolan commented on #43
Just tried passing params, same result.

[2016-05-10 11:14] marcopiraccini commented on #43
...mmm...cannot reproduce. Which OS are you using?

[2016-05-10 11:15] marcopiraccini commented on #43
(also, are you using `seneca-in-practice` globally installed?)

[2016-05-10 11:17] conolan commented on #43
Using crome on mac. Globally installed (-g) but am using in a different folder so I can keep my files for each exercise.

[2016-05-10 11:29] marcopiraccini commented on #43
The only change done on this exercise is:
`this.submissionArgs = [process.cwd() + '/' + this.submission, process.argv[3], process.argv[4], '--seneca.log.quiet'] // TODO: verify portability`

to:

`this.submissionArgs = [process.cwd() + '/' + this.submission, process.argv[4], process.argv[5], '--seneca.log.quiet'] // TODO: verify portability`

For some reason, in OSx  it seems that `process.argv` i

[2016-05-10 11:39] marcopiraccini commented on #43
This is the commit: https://github.com/senecajs/seneca-in-practice/commit/8114cb1d24bb8a4b75219bba7afcffc9e7cd7323

Here the `console.log` of `process.argv` in Linux, where the numbers are in position 4 and 5:

[code]

[2016-05-10 13:40] marcopiraccini commented on #43
Cannot reproduce also with mac:
![seneca](https://cloud.githubusercontent.com/assets/668050/15148384/457a8bfa-16c5-11e6-942e-9e44732e910c.png)

[2016-05-10 14:31] irelandm commented on #43
The problem is that different parameter numbers are needed if using node to run the client, compared to using seneca-in-practice to run it, when the params are offset by 1.

Here's my output with param logging on:

marki:~/Dev/nodeschool/sip$ node client.js 3 4
params:
0: node
1: /Users/marki/Dev/nodeschool/sip/client.js
2: 3
3: 4
params end
2016-05-10T14:26:08.515Z o8dqh35rkn0n/1462890368506/8706

[2016-05-10 14:33] irelandm commented on #43
NB I previously noted this in my second comment on https://github.com/senecajs/seneca-in-practice/issues/33

[2016-05-10 14:43] irelandm commented on #43
I think this also affects other exercises and I just switched the param number before running and verifying. Other nodeschool workshops have got around this, e.g. https://github.com/workshopper/workshopper-exercise/blob/master/execute.js

[2016-05-10 15:04] marcopiraccini commented on #43
Yes, that make sense. Tnx @irelandm for spotting this :)

So the solution is to have the params on the solution "correct" for the "direct" launch (in that case `seneca.act({role: 'math', cmd: 'sum', left: process.argv[2], right: process.argv[3]}`...)and fix them when running with `run` and `verify`.

I will do a PR and check the params later for all the exercises

[2016-05-10 15:57] marcopiraccini commented on #43
Ok, 0.1.15 should have fixed that

[2016-05-11 13:38] #38 closed, assigned to nobody

[2016-05-11 13:39] marcopiraccini commented on #35
@irelandm is the current description clearer?

[2016-05-13 04:47] #43 closed, assigned to nobody

[2016-05-13 04:47] #37 closed, assigned to nobody

[2016-05-13 04:49] marcopiraccini commented on #35
Tested with a class, the description seems to be unclear yet. We have to review it.

[2016-05-13 04:49] #31 closed, assigned to nobody

[2016-05-13 04:50] #33 closed, assigned to nobody

[2016-05-13 04:50] #30 closed, assigned to nobody

[2016-05-13 04:50] #29 closed, assigned to nobody

[2016-05-13 05:02] marcopiraccini opened #44 "Ex7: Override - check solution"
After a class: the expected solution seems not to be "incremental" (the `integer:true` pattern from previous extension should be used?) Clarify that.

[2016-05-13 05:03] marcopiraccini commented on #14
Not sure is still needed. No one complains about that...

[2016-05-13 07:09] piccoloaiutante commented on #36
We added a `info` property in prior callback so that you can understand if you call has passed through prior. Is it clearer now?

[2016-05-13 07:13] piccoloaiutante commented on #44
Should we remove the integer true for the runner?

https://github.com/senecajs/seneca-in-practice/blob/master/problems/override/seneca-override-executor-run.js#L9

[2016-05-13 07:23] marcopiraccini commented on #44
Already done (but not for the "run" executor :D) : https://github.com/senecajs/seneca-in-practice/commit/cecbaac223f3e4119a491f836dc0996e86058cb4
...but I think all the exercise should be reviewed

[2016-05-13 07:27] piccoloaiutante commented on #34
No the order doesn't matter for this exercise.

[2016-06-25 16:19] batjko opened #48 "Ex 9 (Transport): Port not recognized"
Hi guys,

I'm pretty sure I am giving it the right thing, but I keep getting an error from Seneca that the port is NaN:

[code]

Here's my code:

[code]

If I start it manually with `node math-service.js 8080`, I get a working Seneca service, though:
![Imgur](http://i.imgur.com/E0t3OvZ.png)

So I can only assume it's an issue with verify and the context of my environment maybe?
I also tried conver

[2016-06-27 07:57] batjko commented on #23
I agree with @piccoloaiutante. Fuge is just one possible implementation that uses Seneca. There is no reason to make it look like it's part of Seneca.
Adding a Fuge step would be like... adding React to a Javascript tutorial, if you know what I mean.

[2016-06-27 07:59] batjko commented on #44
This was confusing for me as well. I then noticed in the solution that the `integer:true` option wasn't even present anymore. Some clarification here would be nice.

[2016-06-27 15:33] elwinbuisman opened #49 "seneca-override-executor-run.js"
seneca-override-executor-run.js results in an error, which is not being caught. Is that supposed to be happening? Since left: process.argv[3], right: process.argv[4] are being used as params?

My suggestion would be to make it equal to seneca-override-executor.js because the result is kinda confusing when doing a 'run'.

[2016-07-16 15:58] sndwch commented on #48
👍

Same on OSX.

[2016-08-12 02:44] kanaqsasak commented on #48
:+1:

Same on Ubuntu

[2016-08-27 11:36] marcopiraccini opened #50 "Upgrade to seneca 3.0"
https://github.com/senecajs/seneca/releases

[2016-09-12 06:57] marcopiraccini commented on #50
Working on it (https://github.com/senecajs/seneca-in-practice/tree/upgrade-dep). The seneca log configuration is changed (see: https://github.com/senecajs/seneca/issues/516)  we should silent it in `sum`, and then add an exercise on it.

[2016-09-12 06:59] marcopiraccini opened #52 "Add logging exercise"
Seneca 3 has enhanced logging.
Since we often compare stdout for asserting exercises, we have to turn off logging for most of them.
We should add an exercise specifically for logging, as last step.

[2016-09-18 07:58] marcopiraccini opened #53 "Localize all the menu strings"
Now i18n is missing

[2016-09-19 03:55] marcopiraccini commented on #53
The bundle has been added in https://github.com/senecajs/seneca-in-practice/pull/54 When merged, we can fix the labels

[2016-09-19 03:55] marcopiraccini commented on #50
https://github.com/senecajs/seneca-in-practice/pull/54

[2016-09-19 03:56] marcopiraccini commented on #48
Should be fixed in https://github.com/senecajs/seneca-in-practice/pull/54 We will check it when merged

[2016-09-19 15:37] #50 closed, assigned to nobody

[2016-09-19 15:37] marcopiraccini commented on #50
Moved to seneca 3.1

[2016-09-19 15:38] marcopiraccini commented on #48
Now that should be fixed, but I can test it only with Ubuntu. Needed help to test with OSx and (especially) Windows

[2016-09-19 15:39] marcopiraccini commented on #9
Closing, not good alternative found....

[2016-09-19 15:39] #9 closed, assigned to nobody

[2016-09-19 15:40] #36 closed, assigned to nobody

[2016-09-19 15:42] #49 closed, assigned to nobody

[2016-09-19 20:17] batjko commented on #48
I don't have it installed on my Windows machine anymore. Is there any quick way to run Step 9 without having to go through all the previous ones again?

[2016-09-24 16:37] marcopiraccini opened #57 "Add exercise on `use`, `ready` and plugin order"
We don't have an exercise that explain `use`, `ready` and plugin order.
We should explain something like:
https://github.com/senecajs/seneca/blob/master/docs/examples/load-order.js

[2016-09-24 16:43] marcopiraccini opened #58 "Plugin Name"
We don't say that plugins can (and should) have names. We should modify the "plugin" exercise forcing to set a name.

[2016-09-28 08:11] paolochiodi opened #61 "general problems in exercises"
@marcopiraccini asked me to test the exercises... unfortunately I'm proceeding quite slowly but here's a number of initial findings on the first two exercises:
## sum

1- It's not explained that the expected response should be in the {answer:sum} format. As first test I was just returning sum and the error message wasn't helpful
## client

1- It's not clear if you need to write on the console `res

[2016-09-28 08:12] marcopiraccini commented on #61
"2- My default seneca installation emits many logs on boot and on action and the verifier uses the first line to check for correctness, always resulting in a failure. " -> This is a bug, the verifier should skip seneca logs.

[2016-09-28 08:16] piccoloaiutante commented on #48
@batjko you should be able to select it directly from the menu. Once selected the workshop should run that step.

[2016-09-28 08:16] paolochiodi commented on #61
maybe there have been changes in the logger on seneca 3.1 or 3.2?
(I'm using node 6, seneca 3.2.1)

Exercise output:

[code]

[2016-09-28 08:21] paolochiodi commented on #61
According to https://github.com/senecajs/seneca-in-practice/blob/master/problems/comparestdout-filterlogs.js#L17 the problem may be that the new log message doesn't have a `seneca` attribute.

I think it could be dropped, or substituted with the `kind` attribute. Even better for retro-compatibility to check if one of `kind` or `seneca` exists

[2016-09-28 08:23] paolochiodi commented on #61
Maybe it is worth checking with seneca "core" if the dropping of `seneca` was intentional or not?

cc @mcdonnelldean ☝️

[2016-09-28 14:08] batjko commented on #48
I'll confirm when I'm back on my Windows machine later today.

[2016-09-28 19:07] batjko commented on #48
So uh... here is what I get now:
[code]

So no error, some seemingly meaningful output, but no verify from seneca-in-practice.

[2016-09-28 19:13] batjko commented on #48
So I tried and don't get an error, but now I can't get verification to run:

[code]

Even tried the exact solution from this repo.

[2016-09-29 06:42] marcopiraccini commented on #61
Fixed testing only the presence of the "level" attribute: https://github.com/senecajs/seneca-in-practice/blob/master/problems/comparestdout-filterlogs.js#L17

[2016-09-30 10:21] piccoloaiutante commented on #58
This has been added to https://github.com/senecajs/seneca-in-practice/pull/62

[2016-09-30 10:55] marcopiraccini opened #63 "Review patterns in examples"
Patterns can be expressed as objects and as strings.
In proposed solutions, all are (now) expressed as objects. We should review problem descriptions to have this coherent.

[2016-09-30 12:34] #58 closed, assigned to piccoloaiutante

[2016-09-30 12:38] #23 closed, assigned to nobody

[2016-10-01 05:31] marcopiraccini commented on #61
@paolochiodi can you pleas check if now the desc are clearer? https://github.com/senecajs/seneca-in-practice/pull/64

[2016-10-01 07:28] marcopiraccini commented on #48
Tnx @batjko , the problem was that in win, apparently, `seneca.listen()` take a long time to start. Augmenting the timeout before trying to connect to 5000 millis seems to have fixed the issue (see: https://github.com/senecajs/seneca-in-practice/pull/65).

If you have time to verify, it would be great :)

[2016-10-01 07:35] #61 closed, assigned to paolochiodi, marcopiraccini

[2016-10-01 14:49] batjko commented on #48
It doesn't wait 5000 millis, I'm afraid. Just about 1 second. Did you push the update?

[code]

I even uninstalled and re-installed the seneca-in-practice package, no luck.

[2016-10-03 08:35] piccoloaiutante commented on #63
PR pending https://github.com/senecajs/seneca-in-practice/pull/66

[2016-10-03 09:23] marcopiraccini commented on #63
Merged, but not closing because a couple of proposed solutions are still using strings :)

[2016-10-03 09:28] piccoloaiutante commented on #63
https://github.com/senecajs/seneca-in-practice/commit/711d1e79219695f2f8d67ec684484bb67450bae8

Anything else @marcopiraccini ?

[2016-10-03 09:46] marcopiraccini commented on #63
Yes, please, here: https://github.com/senecajs/seneca-in-practice/blob/master/problems/prior_actions/solution/solution.js and: https://github.com/senecajs/seneca-in-practice/blob/master/problems/plugin/solution/solution.js :)

[2016-10-03 09:50] piccoloaiutante commented on #63
there you go :)

https://github.com/senecajs/seneca-in-practice/pull/67

[2016-10-03 10:05] mihaidma opened #68 ""Client" solution verification fails"
Running: `seneca-in-practice verify ./problems/client/solution/solution.js` fails

[code]

another one:

[code]

[2016-10-03 10:27] mihaidma opened #69 "Use seneca.ready after use(plugin)"
In the `plugin` lessong readme:

[code]

A good seneca practice is to use ready after use:

[code]

[2016-10-03 10:38] mihaidma opened #70 "update Travis"
Minor issue: the Travis file could be updated to use node 4 and 6 or 6 and 7.

[2016-10-03 10:51] #63 closed, assigned to marcopiraccini, piccoloaiutante

[2016-10-03 11:01] mihaidma commented on #68
Node 6.5.0 under Linux

[2016-10-03 11:03] mihaidma opened #71 ""Extend Client" solution verification fails"
if I run `seneca-in-practice verify ./problems/extend_client/solution/solution.js` it fails. Running on Node 6.5.0 under Linux.
The output:

[code]

The `seneca-in-practice run ./problems/extend_client/solution/solution.js` works well

[2016-10-03 11:09] mihaidma opened #72 "Main readme advising to install with sudo"
Minor issue: the main readme says `sudo npm install ...`.
Don't know the context where the lessons are run, I think it is not good practice to install with sudo, should change it with `npm install`

[2016-10-03 13:03] mihaidma opened #73 "Incorrect markdown rendering in CLI"
In console the rendering of the markdown in the "Override" lesson seems to miss some spaces. Github renders them correctly.

Console screenshot:
![override](https://cloud.githubusercontent.com/assets/4950500/19038035/49b4b1de-8982-11e6-8b49-766af1ee46f6.png)

[2016-10-03 14:03] mihaidma opened #74 "Can't validate transport solution"
If I try to validate the solution located in the "Transport" lesson I get an error:

[code]

if I log the argv received:

[code]

The code uses argv[2] for port:

[code]

If I run `node  ./problems/transport/solution/solution.js 25602` it starts correctly:

[code]

then I verify that it works:

[code]

[2016-10-03 14:36] mihaidma opened #76 "broken mem-store readme link"
it points to: http://senecajs.org/tutorials/understanding-data-entities.html
it should point to:
http://senecajs.org/docs/tutorials/understanding-data-entities.html

[2016-10-03 14:42] mihaidma opened #77 "seneca-mem-store readme sample needs update"
you have to call `use(basic)` to make it work:

[code]

[2016-10-03 14:45] mihaidma opened #78 "seneca-mem-store sample doesn't provide the exercise solution"
In the seneca-mem-store sample in the solution folder the file `solution.js` contains the content of `math.js` from the previous exercises. No solution provided.

[2016-10-03 14:52] mihaidma commented on #78
i made a mistake, will close this

[2016-10-03 14:52] #78 closed, assigned to nobody

[2016-10-03 16:02] marcopiraccini commented on #77
Yes, but it's not required for the solution. Do you mean that we should specify that in the description?

[2016-10-03 16:02] #76 closed, assigned to nobody

[2016-10-03 16:03] marcopiraccini commented on #73
Seems harder to fix than expected :D

[2016-10-03 18:33] mihaidma commented on #77
Indeed it is no necessary to build the solution. But if you try to run the sample from Readme it won't work.

[2016-10-03 18:34] mihaidma commented on #73
yes :) I also did a quick try.

[2016-10-03 18:44] mihaidma opened #79 "Solution verification failing issues"
This issue is intended to unify all issues related to the failing `verify` running on the solution,js.

In 4 out of 11 lessons the last `verify` step failed.
The failing lessons are:
- Client,
- Extend client,
- Transport,
- Transport client.

Issues related with:
https://github.com/senecajs/seneca-in-practice/issues/74
https://github.com/senecajs/seneca-in-practice/issues/71
https://github.com/se

[2016-10-04 04:24] #70 closed, assigned to marcopiraccini

[2016-10-04 04:24] #72 closed, assigned to nobody

[2016-10-04 06:33] mihaidma commented on #79
solved in the latest version

[2016-10-04 06:33] #79 closed, assigned to nobody

[2016-10-04 06:33] mihaidma commented on #74
solved in the latest version

[2016-10-04 06:33] #74 closed, assigned to nobody

[2016-10-04 06:33] mihaidma commented on #71
solved in the latest version

[2016-10-04 06:33] #71 closed, assigned to nobody

[2016-10-04 06:33] mihaidma commented on #68
solved in the latest version

[2016-10-04 06:33] #68 closed, assigned to nobody

[2016-10-04 06:35] marcopiraccini commented on #48
@batjko probably the issue was still there becaues I forgot to do a release :(. Can you please check again updating the version?

[2016-10-04 06:35] #44 closed, assigned to nobody

[2016-10-04 06:52] batjko commented on #48
Yup, works now on Windows.
It took between 3 and 4 seconds, to move on, which is odd but the 5 sec timeout definitely seems to have solved it.

[2016-10-04 06:52] #48 closed, assigned to marcopiraccini

[2016-10-04 07:48] piccoloaiutante commented on #69
Shall we just add ready and use order in the same plugin step exercise @marcopiraccini ?

[2016-10-04 07:52] marcopiraccini commented on #69
Yes, this can be a good idea.

[2016-10-05 05:04] marcopiraccini commented on #77
https://github.com/senecajs/seneca-in-practice/pull/80

[2016-10-05 05:12] marcopiraccini commented on #34
@piccoloaiutante: not true. The order count! This make the validation fail:

[code]

[2016-10-05 05:16] #35 closed, assigned to nobody

[2016-10-05 08:12] #77 closed, assigned to marcopiraccini

[2016-10-06 08:33] #34 closed, assigned to marcopiraccini

[2016-10-11 14:23] piccoloaiutante commented on #57
https://github.com/senecajs/seneca-in-practice/pull/82

[2016-10-11 14:23] piccoloaiutante commented on #69
https://github.com/senecajs/seneca-in-practice/pull/82

[2016-10-12 07:42] #69 closed, assigned to piccoloaiutante

[2016-10-12 07:43] piccoloaiutante commented on #57
https://github.com/senecajs/seneca-in-practice/pull/83

[2016-10-12 15:31] marcopiraccini opened #84 "Some ex produce a warning when selected"
...the reason is in this line: https://github.com/senecajs/seneca-in-practice/blob/master/problems/roles/exercise.js#L10

The current version of Seneca is producing a deprecation warning (here the issue: https://github.com/senecajs/seneca/issues/566), so this is mixed to the exercise description...

As workaround, we could at least instantiate seneca in the processor.

[2016-10-12 16:28] marcopiraccini commented on #84
https://github.com/senecajs/seneca-in-practice/pull/85

[2016-10-13 19:11] #84 closed, assigned to marcopiraccini

[2016-10-13 19:18] #73 closed, assigned to nobody

[2016-10-13 19:37] #57 closed, assigned to piccoloaiutante

[2016-10-18 13:47] joshuakarjala opened #90 "Override-step: Order of keys in respond object shouldn't matter for validation"
In testing I get error for

[code]

[code]

but correct for

[code]

Which are functionally the same :)

[2016-10-19 05:32] marcopiraccini opened #94 "Plugin description is not clear"
The plugin description is ambiguous. It must be clearer that the solution (to be run and verified) is ONLY the plugin

[2016-11-10 03:51] Cbenh opened #97 "can't run exercises"
I cant run any exercises from graphic interface with command ` seneca-in-practice` or from command line with `seneca-in-practice select Sum`.

` /usr/local/lib/node_modules/seneca-in-practice/problems/sum/exercise.js:8
const {getRandomInt} = require('../utils')
      ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Ob

[2016-11-15 06:37] tswaters commented on #97
Destructured assignment requires node 6+

[2016-11-15 07:49] marcopiraccini commented on #97
OK, but maybe we should specify better the supported node version.
Reopening and labeling as enhancement.

[2016-12-08 15:23] brecke opened #98 ""Mem store" exercise is too confusing"
Hey there,

First of all, I think this is a very gentle introduction to seneca and it is definitely something I'll recommend for beginners such as myself.

Regarding the "mem store" exercise, I think it could have its description improved a bit. The fact that it's a bit long doesn't help I think, but it's mostly about the purpose. It's not clear what operations are, or what you want them for, so o

[2017-01-17 11:41] jpclair opened #100 "Arrow functions / template strings?"
Hi,
Several exercises (and solutions) are defined with arrow functions.
the exercise "decorate" for example:
[code]

Several exercises use templates strings,
the exercise "override" for example:
[code]

It's quite cool, but it's quite confusing to have a mix between "old style" and "new style" Javascript.
It's not too difficult to fix that but I don't know what behaviour do you recommend for the p

[2017-03-16 12:07] josephh opened #101 "Sum exercise markdown"
Hi, not sure if this project is still being maintained...

Since seneca getting-started is 'no longer proven to work' thought I'd work through the examples in this project.

On the first exercise - Sum - there are examples of how to format an action pattern - as an object or as a string.  But the examples are the same.

Does /problems/sum/problem.md need an amendment along the lines of

[code]

[2017-03-16 12:09] marcopiraccini commented on #101
Yes, it's maintained :)

[2017-03-16 19:06] josephh commented on #101
Oh, great - I'll work through and let you know if I spot anything...
I could raise a PR for this if you like?

[2017-03-16 19:56] piccoloaiutante commented on #101
@josephh that is always a good idea :)

[2017-05-09 10:17] dima1034 opened #103 "plugin wont work. i'm tring use real seneca and it's worked fine."
so please try to fix it.  cose some of the people will frustrate about that

[2017-05-09 11:09] piccoloaiutante commented on #103
Hi @dima1034,

could you please give some more info about what's not working and the error that you got?

[2017-05-09 11:14] dima1034 commented on #103
as I mentioned before with regular seneca everything works pretty well.

![image](https://cloud.githubusercontent.com/assets/13873676/25848050/5b4c0fb0-34c1-11e7-93a3-08bf6db1263b.png)

![image](https://cloud.githubusercontent.com/assets/13873676/25848133/a0d662a6-34c1-11e7-8101-15e5de994e53.png)

[2017-05-09 20:07] marcopiraccini commented on #103
Hi @dima1034. Which Seneca version are you using?
Can you please paste here your solution so we can check?

[2017-05-10 04:54] dima1034 commented on #103
http://dropmefiles.com/qPJhz

[2017-06-09 06:50] sagar021988 commented on #22
I am new to protractor and i have configured protractor on eclipse luna on windows 10 and while running the protractor test case via eclipse i am facing error as 👍

module.js:340
throw err;
^

Error: Cannot find module 'C:\Users\Sagar'
at Function.Module._resolveFilename (module.js:338:15)
at Function.Module._load (module.js:289:25)
at Function.Module.runMain (module.js:467:10)
at startup (node.js

[2017-06-28 07:08] ChopperLee2011 opened #105 "Can not convert string to number by using isFinite()"
In the `override` Exercise, the tutorial suggests using `isFinite()` method to convert msg.left and msg.right to number and check if they are numbers, then sum values [here](https://github.com/senecajs/seneca-in-practice/blob/master/problems/override/solution/solution.js#L3). but after I run the code, it still concat two strings like '1' and '0' to '10', not 1.
And I make a example code [here](htt

[2017-06-28 07:28] ChopperLee2011 commented on #105
if I install this lib from npm, the test code in the seneca-override-executor.js is
[code]

which is not the same here.

[2017-10-03 10:13] jamg44 opened #106 "Sum verification problem"
It seems like the verification is failing because there is more different properties in the response, but the real answer is in the first position of the resulting array.

Current Seneca version is returning more info, making all the exercises fail.

`{"kind":"notice","notice":"hello seneca 6sps9m8bu12q/1507025362667/84094/3.4.2/-","level":"info","seneca":"6sps9m8bu12q/1507025362667/84094/3.4.2/-"

[2017-10-05 10:18] mmayla commented on #106
I have the same issue

[2017-10-10 15:52] mmayla opened #107 "How to test Exercise 10 (Transport Client) manually"
I have created this solution
[code]

Which is correct and verified, but I have a problem testing it manually.

after running this command
[code]
No output on the console appeared, so how to connect to this client through tcp?

I have Linux machine

[2017-10-10 15:59] mmayla commented on #105
`isFinite` doesn't convert and return the string to number it just tests whether the string you provided is a finite number and return `True` or `False`.

to finish this exercise you have to convert the left and right arguments to numbers in the sum microservice using `Number()` global function.

[code]

In an exercise after you will create an override microservice that convert left and right for

[2018-07-07 21:22] marcospolanco commented on #106
Same

[2019-01-29 17:58] preetamkajalrout commented on #106
Same issue. And it seems to be issue because of logging part of seneca. Most of the getting-started guide or tutorial on seneca differs during the output screenshots.